* , *::before , *::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

*::before , *::after{
    display: block;
}

img {
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;        
    object-position: center center;
}

html {
    scroll-behavior: smooth;
}

h1 , p {
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color:inherit;
}

body {
    min-height  : 100vh;
    font-size   : 100%;
    hyphens: auto;
}