// Colors

$White          : hsl(0, 0%, 100%);
$Light-gray     : hsl(212, 45%, 89%);
$Grayish-blue   : hsl(211, 14%, 35%);
$Dark-blue      : hsl(218, 44%, 22%);

// Font

$Family         : 'Outfit', sans-serif;