//  Colors

// Primary

$Cyan           : hsl(180, 62%, 55%);
$Red            : hsl(0, 78%, 62%);
$Orange         : hsl(34, 97%, 64%);
$Blue           : hsl(212, 86%, 64%);

// Neutral

$Very-Dark-Blue : hsl(234, 12%, 34%);
$Grayish-Blue   : hsl(229, 6%, 66%);
$Very-Light-Gray: hsl(0, 0%, 98%);
$White          : hsl(0, 0%, 100%);

//  Typography

// Fonts

$main-font-family: 'Poppins', sans-serif;

// Weights

$ExtraLight     :   200;
$Regular        :   400;
$SemiBold       :   600;

// shadow 

$shadow-main    :  0px 0px 10px 3px rgba(0, 0, 0, 0.05);