@import "partials/_browser-reset.scss";
@import "partials/_variables.scss";

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $Light-grayish-blue;
}

.container {
    margin: auto;
    max-width: 83%;
}

.main {
    gap: 1.8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    &__item-1 {
        grid-area: 1 / span 2;
        background-color: $Moderate-violet;
    }

    &__item-2 {
        grid-area: 1 / span 1;
        background-color: $Very-dark-grayish-blue;
    }

    &__item-3 {
        grid-area: 2 / span 1;
        background-color: $White;
    }

    &__item-4 {
        grid-area: 2 / span 2;
        background-color: $Very-dark-blackish-blue;
    }

    &__item-5 {
        grid-area: 1 / 4 / span 2;
        background-color: $White;
    }

    &__section {
        overflow: hidden;
        position: relative;
        border-radius: 0.5rem;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        &-svg {
            position: absolute;
            top: 0;
            right: 19%;
            width: 6.5rem;
            height: 6.375rem;
            z-index: 1;
            user-select: none;
        }

        &-container {
            z-index: 2;
            margin: 2rem;
            position: relative;
        }

        &-hdr {
            gap: 1rem;
            display: flex;
            align-items: center;
            color: $White;

            &-img {
                width: 1.75rem;
                height: 1.75rem;
                border-radius: 100%;

                &--b-daniel {
                    border: .125rem solid hsla(210, 46%, 95%, 0.5);
                }

                &--b-patrick {
                    border: .125rem solid hsla(263, 55%, 52%, 0.5);
                }
            }

            &-h1 {
                font-weight: $SemiBold;
                font-size: .85rem;
            }
        
            &-p {
                font-weight: $Medium;
                font-size: .72rem;
                letter-spacing: -0.00719rem;
                opacity: .5;
            }
        }

        &-article {
            margin-top: 1.2rem;
            color: $Light-grayish-blue;

            &-h2 {
                font-weight: $SemiBold;
                font-size: 1.2rem;
                letter-spacing: .00225rem;
                margin-bottom: 1.2rem;
            }

            &-q {
                font-weight: $Medium;
                font-size: .82rem;
                opacity: .7;
            }
        }

        &--dark {
            h1, h2, p, q {
                color: $Very-dark-grayish-blue;
            }
        }
    }
}

@import "partials/_media-query.scss";