
// Colors

// Primary

$Very-Dark-Magenta          : hsl(300, 43%, 22%);
$Soft-Pink                  : hsl(333, 80%, 67%);

// Neutral

$Dark-Grayish-Magenta       : hsl(303, 10%, 53%);
$Light-Grayish-Magenta      : hsl(300, 24%, 96%);
$White                      : hsl(0, 0%, 100%);


// background with opacity

$Very-Dark-Magenta-opacity  : hsla(302, 10%, 53%, 0.09);

// Typography

//  Font

$main-font                  : 'League Spartan', sans-serif;

// Weights

$Regular                    : 400;
$Medium                     : 500;
$Bold                       : 700;

