
* , *::before , *::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
*::before , *::after{
    display: block;
}

a {
    display: block;
    text-decoration: none;
    color:inherit;
    font-size:inherit;
}

html {
    scroll-behavior: smooth;
}


h1 , h2 , h3 , h4 , h5 , h6 , p ,span , a , strong , blockquote , i , b , u , em {
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color:inherit;
}

svg{
    width: 100%;
    display: block;
    fill: currentColor;
}


body {
    min-height  : 100vh;
    font-size   : 100%;
    font-family : var(--tipo-principal);
    color       : var(--negro);
}