@media only screen and (max-width: 768px) {
    body {
        &::before {
            content: "";
            background-position: 128% 170% !important;
        }
        
        &::after {
            content: "";
            background-position: -26% -72% !important;
        }
    }
}
