// Primary

$Light-red              : hsl(0, 100%, 67%);
$Orangey-yellow         : hsl(39, 100%, 56%);
$Green-teal             : hsl(166, 100%, 37%);
$Cobalt-blue            : hsl(234, 85%, 45%);


// Opacity

$Opacity-light-red      : hsla(0, 100%, 67%,   0.04);
$Opacity-orangey-yellow : hsla(39, 100%, 56%,  0.04);
$Opacity-green-teal     : hsla(166, 100%, 37%, 0.04);
$Opacity-cobalt-blue    : hsla(166, 100%, 37%, 0.04);

//  Gradients

$Gradients-background   : linear-gradient(180deg, hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 100%);
$Gradients-circle       : linear-gradient(180deg, hsla(256, 72%, 46%, 1) 0%, hsla(241, 72%, 46%, 0) 100%);

// # Neutral

$White                  : hsl(0, 0%, 100%);
$Pale-blue              : hsl(221, 100%, 96%);
$Light-lavender         : hsl(241, 100%, 89%);
$Dark-gray-blue         : hsl(224, 30%, 27%);

// shadow

$shadow-main            : 0px 5px 49px 4px rgba(17,37,212,0.1);